[Desktop Entry]
Encoding=UTF-8
Name=Link to Deep Learning A-Z™: Hands-On Artificial Neural Networks | Udemy
Type=Link
URL=https://www.udemy.com/deeplearning/learn/v4/questions/3554002
Icon=text-html
