[Desktop Entry]
Encoding=UTF-8
Name=Link to The Unreasonable Effectiveness of Recurrent Neural Networks
Type=Link
URL=http://karpathy.github.io/2015/05/21/rnn-effectiveness/
Icon=text-html
