[Desktop Entry]
Encoding=UTF-8
Name=Link to Applied Deep Learning - Part 3: Autoencoders – Towards Data Science
Type=Link
URL=https://towardsdatascience.com/applied-deep-learning-part-3-autoencoders-1c083af4d798
Icon=text-html
