[Desktop Entry]
Encoding=UTF-8
Name=Link to Autoencoders: Sparse and Deep – From Data to Decisions
Type=Link
URL=https://iksinc.online/2016/07/07/autoencoders/
Icon=text-html
