[Desktop Entry]
Encoding=UTF-8
Name=Link to Deep Learning: Sparse Autoencoders — Eric Wilkinson
Type=Link
URL=http://www.ericlwilkinson.com/blog/2014/11/19/deep-learning-sparse-autoencoders
Icon=text-html
