[Desktop Entry]
Encoding=UTF-8
Name=Link to robi56/Deep-Learning-for-Recommendation-Systems: This repository contains Deep Learning based articles , paper and repositories for Recommender Systems
Type=Link
URL=https://github.com/robi56/Deep-Learning-for-Recommendation-Systems
Icon=text-html
