[Desktop Entry]
Encoding=UTF-8
Name=Link to sparseAutoencoder2011.pdf
Type=Link
URL=http://web.stanford.edu/class/cs294a/sparseAutoencoder2011.pdf
Icon=application-pdf
