[Desktop Entry]
Encoding=UTF-8
Name=Link to artificial intelligence - Role of Bias in Neural Networks - Stack Overflow
Type=Link
URL=https://stackoverflow.com/questions/2480650/role-of-bias-in-neural-networks
Icon=text-html
