[Desktop Entry]
Encoding=UTF-8
Name=Link to Boltzmann machine - Wikipedia
Type=Link
URL=https://en.wikipedia.org/wiki/Boltzmann_machine
Icon=text-html
