[Desktop Entry]
Encoding=UTF-8
Name=Link to Deep Learning: Why is the energy function of the Restricted Boltzmann Machine defined the way it is defined? - Quora
Type=Link
URL=https://www.quora.com/Deep-Learning-Why-is-the-energy-function-of-the-Restricted-Boltzmann-Machine-defined-the-way-it-is-defined
Icon=text-html
