[Desktop Entry]
Encoding=UTF-8
Name=Link to Restricted Boltzmann Machines (RBM) — DeepLearning 0.1 documentation
Type=Link
URL=http://deeplearning.net/tutorial/rbm.html
Icon=text-html
