[Desktop Entry]
Encoding=UTF-8
Name=Link to Deep Learning A-Z™: Hands-On Artificial Neural Networks | Udemy
Type=Link
URL=https://www.udemy.com/deeplearning/learn/v4/questions/3214094?$deeplink_path=udemy:%2F%2Finstructor%2FcourseDiscussionDetails%3FcourseId%3D1151632%26threadId%3D3214094&~channel=email&~stage=published&$fallback_url=https:%2F%2Fwww.udemy.com%2Fdeeplearning%2Flearn%2Fv4%2Fquestions%2F3214094&utm_campaign=email&utm_source=sendgrid.com&utm_medium=email&_branch_match_id=554888907767981442
Icon=text-html
