[Desktop Entry]
Encoding=UTF-8
Name=Link to Fraud Detection using Self Organizing Maps (Unsupervised Machine Learning)
Type=Link
URL=https://medium.com/@abhi95.saxena/fraud-detection-using-self-organizing-maps-unsupervised-machine-learning-5c78ae39a584
Icon=text-html
