[Desktop Entry]
Encoding=UTF-8
Name=Link to Overview of neuron function (video) | Khan Academy
Type=Link
URL=https://www.khanacademy.org/science/health-and-medicine/human-anatomy-and-physiology/nervous-system-introduction/v/overview-of-neuron-function
Icon=text-html
