[Desktop Entry]
Encoding=UTF-8
Name=Link to Self-Organizing Maps Tutorial – Algobeans
Type=Link
URL=https://algobeans.com/2017/11/02/self-organizing-map/
Icon=text-html
