[Desktop Entry]
Encoding=UTF-8
Name=Link to SOM Tutorial
Type=Link
URL=http://www.pitt.edu/~is2470pb/Spring05/FinalProjects/Group1a/tutorial/som.html
Icon=text-html
