[Desktop Entry]
Encoding=UTF-8
Name=Link to SOMextend_Epia_final.dvi
Type=Link
URL=https://pdfs.semanticscholar.org/fdcd/8e91ef7f67918d56e3d43791f39d02b64512.pdf
Icon=application-pdf
