[Desktop Entry]
Encoding=UTF-8
Name=Link to Building Autoencoders in Keras
Type=Link
URL=https://blog.keras.io/building-autoencoders-in-keras.html
Icon=text-html
