[Desktop Entry]
Encoding=UTF-8
Name=Link to Deep Learning Tutorial - Sparse Autoencoder · Chris McCormick
Type=Link
URL=http://mccormickml.com/2014/05/30/deep-learning-tutorial-sparse-autoencoder/
Icon=text-html
