[Desktop Entry]
Encoding=UTF-8
Name=Link to Neural Networks Are Impressively Good At Compression | Probably Dance
Type=Link
URL=https://probablydance.com/2016/04/30/neural-networks-are-impressively-good-at-compression/
Icon=text-html
