[Desktop Entry]
Encoding=UTF-8
Name=Link to Applying deep learning and a RBM to MNIST using Python - PyImageSearch
Type=Link
URL=https://www.pyimagesearch.com/2014/06/23/applying-deep-learning-rbm-mnist-using-python/
Icon=text-html
