[Desktop Entry]
Encoding=UTF-8
Name=Link to Apriori and Eclat algorithm in Association Rule Mining
Type=Link
URL=https://www.slideshare.net/wanaezwani/apriori-and-eclat-algorithm-in-association-rule-mining
Icon=text-html
