[Desktop Entry]
Encoding=UTF-8
Name=Link to Glossary of Deep Learning: Bias – Deeper Learning – Medium
Type=Link
URL=https://medium.com/deeper-learning/glossary-of-deep-learning-bias-cf49d9c895e2
Icon=text-html
