[Desktop Entry]
Encoding=UTF-8
Name=Link to How Browsers Work: Behind the scenes of modern web browsers - HTML5 Rocks
Type=Link
URL=https://www.html5rocks.com/en/tutorials/internals/howbrowserswork/
Icon=text-html
