[Desktop Entry]
Encoding=UTF-8
Name=Link to Scrapy at a glance — Scrapy 1.6.0 documentation
Type=Link
URL=https://docs.scrapy.org/en/1.6/intro/overview.html#
Icon=text-html
