[Desktop Entry]
Encoding=UTF-8
Name=Link to Dash User Guide and Documentation - Dash by Plotly
Type=Link
URL=https://dash.plot.ly/dash-core-components/datepickerrange
Icon=text-html
