[Desktop Entry]
Encoding=UTF-8
Name=Link to Dash User Guide and Documentation - Dash by Plotly
Type=Link
URL=https://dash.plot.ly/live-updates
Icon=text-html
