[Desktop Entry]
Encoding=UTF-8
Name=Link to Deployment Options — Flask 1.0.2 documentation
Type=Link
URL=http://flask.pocoo.org/docs/1.0/deploying/
Icon=text-html
