[Desktop Entry]
Encoding=UTF-8
Name=Link to Live Flight Tracker - Real-Time Flight Tracker Map | Flightradar24
Type=Link
URL=https://www.flightradar24.com/54.42,39.56/4
Icon=text-html
