[Desktop Entry]
Encoding=UTF-8
Name=Link to plotly/dash-recipes: A collection of scripts and examples created while answering questions from the greater Dash community
Type=Link
URL=https://github.com/plotly/dash-recipes
Icon=text-html
