[Desktop Entry]
Encoding=UTF-8
Name=Link to Plotly | Python chart attribute reference
Type=Link
URL=https://plot.ly/python/reference/#box
Icon=text-html
