[Desktop Entry]
Encoding=UTF-8
Name=Link to Visualizing the distribution of a dataset — seaborn 0.9.0 documentation
Type=Link
URL=https://seaborn.pydata.org/tutorial/distributions.html
Icon=text-html
