[Desktop Entry]
Encoding=UTF-8
Name=Link to Convolutional Neural Network – Towards Data Science
Type=Link
URL=https://towardsdatascience.com/convolutional-neural-network-17fb77e76c05
Icon=text-html
