[Desktop Entry]
Encoding=UTF-8
Name=Link to Convolutional neural network - Wikipedia
Type=Link
URL=https://en.wikipedia.org/wiki/Convolutional_neural_network#Applications
Icon=text-html
