[Desktop Entry]
Encoding=UTF-8
Name=Link to icann2010_maxpool.pdf
Type=Link
URL=http://ais.uni-bonn.de/papers/icann2010_maxpool.pdf
Icon=application-pdf
