[Desktop Entry]
Encoding=UTF-8
Name=Link to Neural Networks, Manifolds, and Topology -- colah's blog
Type=Link
URL=http://colah.github.io/posts/2014-03-NN-Manifolds-Topology/
Icon=text-html
