[Desktop Entry]
Encoding=UTF-8
Name=Link to REctified-COrrelations on a Sphere - Google Search
Type=Link
URL=https://www.google.com/search?q=REctified-COrrelations+on+a+Sphere&oq=REctified-COrrelations+on+a+Sphere&aqs=chrome..69i57&sourceid=chrome&ie=UTF-8
Icon=text-html
