[Desktop Entry]
Encoding=UTF-8
Name=Link to Softmax classification with cross-entropy
Type=Link
URL=https://peterroelants.github.io/posts/cross-entropy-softmax/
Icon=text-html
