[Desktop Entry]
Encoding=UTF-8
Name=Link to bpc_rev5.dvi
Type=Link
URL=http://halweb.uc3m.es/esp/Personal/personas/svegas/documentos/articulos/BPC05_vegas_muruzabal.pdf
Icon=application-pdf
