[Desktop Entry]
Encoding=UTF-8
Name=Link to Creating hexagonal heatmaps with d3.js | Visual Cinnamon
Type=Link
URL=https://www.visualcinnamon.com/2013/07/self-organizing-maps-creating-hexagonal.html
Icon=text-html
