[Desktop Entry]
Encoding=UTF-8
Name=Link to Self-Organizing Map (SOM)
Type=Link
URL=https://users.ics.aalto.fi/jhollmen/dippa/node9.html
Icon=text-html
