[Desktop Entry]
Encoding=UTF-8
Name=Link to Self-organizing map - Wikipedia
Type=Link
URL=https://en.wikipedia.org/wiki/Self-organizing_map
Icon=text-html
