[Desktop Entry]
Encoding=UTF-8
Name=Link to 2D Visualization of a Convolutional Neural Network
Type=Link
URL=http://scs.ryerson.ca/~aharley/vis/conv/flat.html
Icon=text-html
