[Desktop Entry]
Encoding=UTF-8
Name=Link to A Friendly Introduction to Cross-Entropy Loss
Type=Link
URL=https://rdipietro.github.io/friendly-intro-to-cross-entropy-loss/
Icon=text-html
