[Desktop Entry]
Encoding=UTF-8
Name=Link to a19932fcef1ca6d0442cbf52fec38fb9d1e5.pdf
Type=Link
URL=https://pdfs.semanticscholar.org/450c/a19932fcef1ca6d0442cbf52fec38fb9d1e5.pdf
Icon=application-pdf
