[Desktop Entry]
Encoding=UTF-8
Name=Link to Learning long-term dependencies with gradient descent is difficult - Neural Networks, IEEE Transactions on
Type=Link
URL=http://ai.dinfo.unifi.it/paolo//ps/tnn-94-gradient.pdf
Icon=application-pdf
