[Desktop Entry]
Encoding=UTF-8
Name=Link to Movie written by algorithm turns out to be hilarious and intense | Ars Technica
Type=Link
URL=https://arstechnica.com/gaming/2016/06/an-ai-wrote-this-movie-and-its-strangely-moving/
Icon=text-html
