[Desktop Entry]
Encoding=UTF-8
Name=Link to The Ultimate Guide to Recurrent Neural Networks (RNN)
Type=Link
URL=https://www.superdatascience.com/the-ultimate-guide-to-recurrent-neural-networks-rnn/
Icon=text-html
