[Desktop Entry]
Encoding=UTF-8
Name=Link to Understanding LSTM Networks -- colah's blog
Type=Link
URL=http://colah.github.io/posts/2015-08-Understanding-LSTMs/
Icon=text-html
