[Desktop Entry]
Encoding=UTF-8
Name=Link to Beautiful Soup: We called him Tortoise because he taught us.
Type=Link
URL=https://www.crummy.com/software/BeautifulSoup/
Icon=text-html
