[Desktop Entry]
Encoding=UTF-8
Name=Link to Requests: HTTP for Humans™ — Requests 2.21.0 documentation
Type=Link
URL=http://docs.python-requests.org/en/master/
Icon=text-html
